{% extends "squelette.html.twig" %}

{% block title %} Ajout Equipement pour Etablissement {% endblock %}
{% block titre_page %} Ajout Equipement pour Etablissement {% endblock %}
{% block content %}
        <h2>Equipement</h2>
        libelle : {{equipement.libelle}}<br/><br/>
        
        <h2>Etablissements</h2>
        {% for t in equip %}
            <li>{{t.nom}}</li>
        {% endfor %}
{% endblock %}