{% extends "squelette.html.twig" %}

{% block title %} Ajout Equipement {% endblock %}
{% block titre_page %} Ajout Equipement {% endblock %}
{% block content %}
        <h2>Equipement</h2>
        libelle : {{equipement.libelle}}<br/><br/>
        
        <h2>Etablissement</h2>
        nom : {{etablissement.nom}}<br/>
        adresse : {{etablissement.adresse}}<br/>
        tel : {{etablissement.tel}}<br/>
        email : {{etablissement.email}}<br/>
        <strong>Liste des equipements :</strong>
        {% for equip in etablissement.equipement %}
            <li>{{equip.libelle}}</li>
        {% endfor %}
{% endblock %}
