{% extends "squelette.html.twig" %}

{% block title %} Afficher Membre {% endblock %}
{% block titre_page %} Afficher Membre {% endblock %}
{% block content %}
<b>Membre :</b><br/>
        - {{id}} <br/>
        - {{nom}} <br/>
        - {{prenom}} <br/>
        - {{email}}
{% endblock %}