{% extends "squelette.html.twig" %}

{% block title %} Ajout Membre {% endblock %}
{% block titre_page %} Ajout Membre {% endblock %}
{% block content %}
{{nom}} {{prenom}} a été enregistré dans la base de données avec l’id {{id}}
{% endblock %}