{% extends 'squelette.html.twig' %}

{% block title %}Hello MembreController!{% endblock %}
{% block titre_page %}Hello MembreController!{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp/www/tpVoyage/src/Controller/MembreController.php'|file_link(0) }}">src/Controller/MembreController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp/www/tpVoyage/templates/membre/index.html.twig'|file_link(0) }}">templates/membre/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}