body {
	background: #efefef;
	font-family: arial;
}

#titre {
	text-align: center;
	margin: 30px 0;
	font-size: 35px;
	font-weight: bold;
}

#corp {
	width: 700px;
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

#header {
	background: #3939d1;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	padding: 10px 30px;
}

#header a { 
	color: #fff;
	text-decoration: none;
	padding: 10px;
}

#header a:hover {
	background: #6868e7;
}

#contenu {
	background: #fff;
	padding: 20px 30px;
}

.smallTitre {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

#footer {
	text-align: center;
	background: #3939d1;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	padding: 10px 30px;
	color: #fff;
}