{% extends "squelette.html.twig" %}

{% block title %} Afficher Avis {% endblock %}
{% block titre_page %} Afficher Avis {% endblock %}
{% block content %}
        <h2>Avis</h2>
        titre : {{avis.titre}}<br/>
        note : {{avis.note}}<br/>
        date : {{avis.date | date("d/m/Y")}}<br/>
        commentaire : {{avis.commentaire}}<br/>
        {{avis.etablissement}}<br/>
        {{avis.lemembre}}<br/>
{% endblock %}