{% extends "squelette.html.twig" %}

{% block title %} Ajout Avis {% endblock %}
{% block titre_page %} Ajout Avis {% endblock %}
{% block content %}
        <h2>Avis</h2>
        titre : {{avis.titre}}<br/>
        note : {{avis.note}}<br/>
        date : {{avis.date | date("d/m/Y")}}<br/>
        commentaire : {{avis.commentaire}}<br/>
        
        <h2>Membre</h2>
        nom : {{membre.nom}}<br/>
        prenom : {{membre.prenom}}<br/>
        email : {{membre.email}}<br/>
{% endblock %}
