{% extends "squelette.html.twig" %}

{% block title %} Ajout Etablissement {% endblock %}
{% block titre_page %} Ajout Etablissement {% endblock %}
{% block content %}
<h2>Etablissement</h2>
        nom : {{etablissement.nom}}<br/>
        adresse : {{etablissement.adresse}}<br/>
        tel : {{etablissement.tel}}<br/>
        email : {{etablissement.email}}<br/>
        
        <h2>Avis</h2>
        titre : {{avis.titre}}<br/>
        note : {{avis.note}}<br/>
        date : {{avis.date | date("d/m/Y")}}<br/>
        commentaire : {{avis.commentaire}}<br/>
{% endblock %}