{% extends "squelette.html.twig" %}

{% block title %} Administration {% endblock %}
{% block titre_page %} Administration {% endblock %}
{% block content %}
Bienvenue sur la page administration du site<br/><br/>

Ajouter un équipement :<br/> <a href="{{ url('index') }}etablissement/ajoutEquipement/">{{ url('index') }}etablissement/ajoutEquipement/</a> + libelle de l'équipement à ajouter<br/><br/>
Attribuer un équipement à un établissement :<br/> <a href="{{ url('index') }}equipement/ajoutEtablissement/">{{ url('index') }}equipement/ajoutEtablissement/</a> + id de l'établissement<br/><br/>
Ajouter un établissement :<br/>
<a href="{{ url('index') }}ajoutEtablissement">{{ url('index') }}ajoutEtablissement</a><br/><br/>
Afficher un membre :<br/>
<a href="{{ url('index') }}afficher/membre/">{{ url('index') }}afficher/membre/</a> + id du membre
{% endblock %}