{% extends "squelette.html.twig" %}

{% block title %} Avis {% endblock %}
{% block titre_page %} Liste des avis {% endblock %}
{% block content %}
        {% for i in 1..nombre %}
            <li>avis n°{{ i }}</li>
        {% endfor %}
{% endblock %}