{% extends "squelette.html.twig" %}

{% block title %} Avis Pays {% endblock %}
{% block titre_page %} Avis Pays {% endblock %}
{% block content %}
Bienvenue {{name}}, votre avis sur {{pays}} nous intéresse
{% endblock %}