<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <title>{% block title %}{% endblock %} - Voyage</title>
    </head>
    <body>
    	<div id="titre">VOYAGE</div>
    	<div id="corp"> 
    		<div id="header">
    			<a href="/">Accueil</a>
    			<a href="/ajouterMembre">Ajouter un Membre</a>
    			<a href="/afficherAvis">Afficher Avis</a>
    			<a href="/ajouterAvis">Ajout Avis</a>
    			<a href="/admin/">Administration</a>
    		</div>
    		<div id="contenu">
    			<div class="smallTitre">{% block titre_page %}{% endblock %}</div>
    			{% block content %}{% endblock %}
    		</div>
    		<div id="footer">
    			Voyage - Hippolyte THOMAS &copy;
    		</div>
    	</div>              
    </body>
</html>
